@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0em;
    background-color: #fff;
    color: #666;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
    color: #3d6dbe;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #6594e0;
}

p {
    font-size: 1em;
    line-height: 1.8;
    margin-top: 0em;
}

img {
    max-width: 100%;
}

hr {
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 3em;
    margin-bottom: 2em;
}

header {
    background-color: #999;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 4em;
    text-align: center;
    height: 650px;

}

header h1 {
    color: white;
    font-size: 2em;
    margin: 0;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
    position: relative;
    top: 25px;
    font-weight: 700;
}

header p {
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 1.3em;
    padding-top: .5em;
    opacity: .9;
    position: relative;
    top: 15px;
}