@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
    font-family: "Fira Medium";
    src: url("https://code.cdn.mozilla.net/fonts/woff/FiraSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Fira Regular";
    src: url("https://code.cdn.mozilla.net/fonts/woff/FiraSans-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    background-color: #fff;
    background-image: url(../img/teach-pattern.png);
    background-size: 200px;
    color: #666;
    font-family: "Fira Regular";
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
    color: #3d6dbe;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #6594e0;
}

p {
    font-size: 1em;
    line-height: 1.8;
    margin-top: 0em;
}

img {
    max-width: 100%;
}

hr {
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 3em;
    margin-bottom: 2em;
}

ul {
    margin: 0 0 12px 0;
    padding: 0 0 0 18px;
}

ul li {
    font-size: 15px;
    color: #999;
    line-height: 19px;
}

header {
    background-color: #999;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 4em;
    text-align: center;
    height: 700px;

}

header h1 {
    color: white;
    font-size: 2em;
    margin: 0;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
    position: relative;
    top: 15px;
    font-weight: 700;
}

header p {
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 1.3em;
    padding-top: .5em;
    opacity: .9;
    position: relative;
    top: 5px;
}

section h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: .6em;
}

section ul li, section ol li {
    font-size: 1em;
    margin-left: -10px;
    line-height: 1.8;
}

footer {
    background: #47ad66;
    margin-top: 80px;
}

footer p {
    color: white;
    margin: 0;
}

footer p .fa-heart {
    color: #EB4D5C;
}

footer .content-wrapper {
    color: white;
    font-size: 15px;
    margin: 0 auto;
    overflow: auto;
    padding: 40px 0 40px 0;
    position: relative;
}

footer .social-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 32px 0;
    padding: 0;
}

footer .social-links li {
    line-height: 15px;
    margin: 0 15px;
    padding: 0;
}

footer .social-links li a {
    display: block;
    font-size: 30px;
    position: relative;
    padding-left: 25px;
}

footer .social-links a {
    color: white;
    opacity: .7;
    text-decoration: none;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear
}
footer .social-links a:hover {
    opacity: 1;
}

footer .quote {
    background: #2e9961;
    border-radius: 4px;
    line-height: 22px;
    margin: 0 auto;
    padding: 18px 20px;
    position: relative;
    width: 600px;
}

.center {
    text-align: center;
}

/* ------------------- Grid -------------------*/

.container {
    max-width: 50em;
    width:92%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    clear: both;
    margin-right: -1%;
    margin-left:  -1%;

}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
    *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
    float: left;
    width:100%;
    padding: 0 1%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 40em) {
    .grid-1 { width: 16.6666666%; }
    .grid-2 { width: 33.3333333%; }
    .grid-3 { width: 50%; }
    .grid-4 { width: 66.6666666%; }
    .grid-5 { width: 83.3333333%; }
    .grid-6 { width: 100%; }

}

@media screen and (min-width: 50em) {
    header {
        height: 700px;
    }

    header h1 {
        font-size: 3.2em;
    }

    header p {
        font-size: 1.5em;
    }
}